.createComment {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.userIdentity__Commentcreate >img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.form__Commentcreate {
    flex: 1;
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
}

.form__Commentcreate>input[type="text"] {
    padding: 10px;
    flex: 10;
    margin-right: 10px;
}

.form__Commentcreate>input[type="submit"] {
    flex: 1;
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.form__Commentcreate>input[type="submit"]:hover,
.form__Commentcreate>input[type="submit"]:focus {
  background-color: #07c;
}

.form__Commentcreate>input[type="submit"]:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.form__Commentcreate>input[type="submit"]:active {
  background-color: #0064bd;
  box-shadow: none;
}
