.videolessonreview {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.videolesson__optionupdate {
    position: relative;
}

.videolesson__optionupdate>svg {
    cursor: pointer;
}