.filter {
    width: 20%; 
    background: white ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
}

.filter__top {
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: bold;
}

.filter__top>svg {
    margin-right: 20px;
}

.filter>button {
    border: none;
    outline: none;
    text-align: center;
    margin: 0 auto;
    /* background: green; */
    padding: 15px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 15px;
    /* color: white; */
    font-weight: bold;
    
}