.chapter {
    text-align: left;
}

.chapter_header {
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

button.themsuaxoa {
    position: absolute;
    padding: 5px;
    border: none;
    top: 0;
    right: 0;
    bottom: 0;
}

.chapter_header {
    position: relative;
}